.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/sundal2.png');
  background-size: cover;
}

.post {
  width: 700px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: rgb(120, 146, 252);
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  color: coral;
}

.post .username {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: rgb(120, 146, 252);
  color: rgb(255, 255, 255);
  font-size: large;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Navigation bar */

.navbar {
  width: 200px;
  height: 100vh;
  background-color: rgb(120, 146, 252);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Adjusted for even spacing */
  align-items: center; /* Centers items horizontally */
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px; /* Adds space at the top */
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Adds padding for a better touch area */
  margin: 0; /* Resets margin for consistency */

  text-align: center; /* Aligns text in the center */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adds a hover effect */
}

.usernameDisplay{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin:20px;
}
/* Post page */

.upSide{
  background-color: aliceblue;
  width: 800px;
  height: 500px;
  color:black;
}


#commentInput{
  width: 800px;
  height: 50px;

}


.downSide .Comments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Comments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  margin-top: 20px;
}

.logoutButton{
  color:rgb(255, 255, 255);
  background-color:rgb(75, 110, 249)

}


